body {
  font-family: "Mulish", sans-serif;
}
p {
  padding: 0;
}
.homePageBannerDesktop {
  min-height: 50vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.556),
      rgba(0, 0, 0, 0.328)
    ),
    url("https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
}

.homePageBannerMobile {
  min-height: 60vh;

  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.556),
      rgba(0, 0, 0, 0.328)
    ),
    url("https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
}
